<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrace na tábor</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="potvrzeni">
        <h1>Registrace byla vytvořena</h1>
        <div class="radek">Rekapitulace: </div>
        <form class="registrace" th:action="@{/}" method="post">
            <label for="turnus" class="radek">Turnus:</label>
            <select id="turnus" name="turnus" th:field="${form.turnus}" th:readonly="readonly">
                <option value=""></option>
                <option value="1">5. - 11. července</option>
                <option value="2">12. - 18. července</option>
                <option value="3">19. - 25. července </option>
            </select>
            <div class="error" th:if="${#fields.hasErrors('form.turnus')}" th:errors="${form.turnus}"></div>

            <div class="radek">Pohlaví:</div>
            <div class="skupina">
                <div>
                    <input id="pohlavi1" type="radio" th:field="${form.pohlavi}" value="ZENA" th:disabled="disabled">
                    <label for="pohlavi1">žena</label>
                </div>
                <div>
                    <input id="pohlavi2" type="radio" th:field="${form.pohlavi}" value="MUZ" th:disabled="disabled">
                    <label for="pohlavi2">muž</label>
                </div>
            </div>
            <div class="error" th:if="${#fields.hasErrors('form.pohlavi')}" th:errors="${form.pohlavi}"></div>

            <div class="radek">
                <label for="jmeno" class="radek">Jméno</label>
                <input id="jmeno" type="text" th:field="${form.jmeno}" th:readonly="readonly">
                <div class="error" th:if="${#fields.hasErrors('form.jmeno')}" th:errors="${form.jmeno}"></div>
            </div>

            <div class="radek">
                <label for="prijmeni" class="radek">Příjmení:</label>
                <input id="prijmeni" type="text" th:field="${form.prijmeni}" th:readonly="readonly">
                <div class="error" th:if="${#fields.hasErrors('form.prijmeni')}" th:errors="${form.prijmeni}"></div>
            </div>

            <div class="radek">
                <label for="vek" class="radek">Datum narození:</label>
                <input id="vek" type="date" th:field="${form.vek}" th:readonly="readonly">
                <div class="error" th:if="${#fields.hasErrors('form.vek')}" th:errors="${form.vek}"></div>
            </div>

            <div class="radek">
                <label for="telefon" class="radek">Telefon:</label>
                <input id="telefon" type="text" th:field="${form.telefon}" th:readonly="readonly">
                <div class="error" th:if="${#fields.hasErrors('form.telefon')}" th:errors="${form.telefon}"></div>
            </div>

            <div class="radek">
                <label for="email" class="radek">E-mail:</label>
                <input id="email" type="email" th:field="${form.email}" th:readonly="readonly">
                <div class="error" th:if="${#fields.hasErrors('form.email')}" th:errors="${form.email}"></div>
            </div>

            <div class="radek">
                <input type="checkbox" th:field="${form.vyber}" value="CYKLISTIKA" th:disabled="disabled">
                <label th:for="${#ids.prev('vyber')}">Cyklistika</label>
            </div>
            <div class="radek">
                <input type="checkbox" th:field="${form.vyber}" value="FOTBAL" th:disabled="disabled">
                <label th:for="${#ids.prev('vyber')}">Fotbal</label>
            </div>
            <div class="radek">
                <input type="checkbox" th:field="${form.vyber}" value="BASKETBAL" th:disabled="disabled">
                <label th:for="${#ids.prev('vyber')}">Basketbal</label>
            </div>

            <div class="radek">
                <input type="checkbox" th:field="${form.vyber}" value="FLORBAL" th:disabled="disabled">
                <label th:for="${#ids.prev('vyber')}">Florbal</label>
            </div>
            <div class="error" th:if="${#fields.hasErrors('form.vyber')}" th:errors="${form.vyber}"></div>


        </form>
    </div>
</div>
</body>
</html>
